build/*
Backups/*
Cache/*
CachedData/*
GPUCache/*
Local Storage/*
User/*
KNNModelDump.sav
MLModels/*
Cookies
Cookies-journal
storage.json
Prefences
machineid
SkinDetection/segmented.jpg
*/build/*
CCDC-Data/*
data.csv
.vscode/*
Tejas is coding here/*
*/__pycache__
.ipynb_checkpoints/*