build/*
Backups/*
Cache/*
CachedData/*
GPUCache/*
Local Storage/*
User/*
storage.json
Prefences
machineid
*/SkinDetection/segmented.jpg
*/build/*
.vscode/*
Tejas is coding here/*
*/__pycache__/*
__pycache__/*
.ipynb_checkpoints/*
training-images/*
Hand sign classification/training-images-tejas
Hand sign classification/training-images-varun
Hand sign classification/training-images-kartik
*/KartikPythonCVTrials/TrainHaar/neg/*
*/KartikPythonCVTrials/TrainHaar/info/*
*/KartikPythonCVTrials/TrainHaar/uglies/*
*/Letters/*
*/Digits/*
./CNN/training-images-kartik
Gesture Recognition/training-images-tejas/*
Gesture Recognition/training-images-kartik/*
*.com